<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>firstName</key>
		<string>Albertoe</string>
		<key>lastName</key>
		<string>Einsteinee</string>
		<key>phone</key>
		<string>919-222-3333</string>
		<key>favorite</key>
		<true/>
		<key>email</key>
		<string>adafdafdsdfdfdfdss@gmail.com</string>
		<key>notes</key>
		<string>Coolest mans alive</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Albert</string>
		<key>lastName</key>
		<string>Einstein</string>
		<key>phone</key>
		<string>919-222-2222</string>
		<key>favorite</key>
		<false/>
		<key>email</key>
		<string>adafds@gmail.com</string>
		<key>notes</key>
		<string>Cool</string>
	</dict>
</array>
</plist>
